body {
			
	width: 100%;
    height: 100%;
	margin: 0px;
}

header {
    padding: 1em;
    color: white;
    background-color:#444849;
    clear: left;
    text-align: center;
	font-size: 15px;
}
footer{
    background-color:#444849;
    clear: left;
    text-align: left;
	width: 100%;
}
#container{
	margin-left: 170px;
    border-left: 1px solid gray;
	margin-right: 170px;
    border-right: 1px solid gray;
	background-color: #c2c5c6;
    padding: 1em;
    overflow: hidden;
	text-align: center;
	height: 520px;
	font-style: italic;
}
#container h1{
	font-size: 60px;
}
#container h2{
	font-size: 40px;
}
#container h3{
	font-size: 30px;
}
#icons{
	background-color: #444849;
}

#class {			
	height: 40%; 		
	margin-top: 60px;
	
}
#button{
	width: 900px;
	height: 100%;
	padding-left: 1px;
	margin: auto;
	text-align: center;
}			
			
#button a {			
	float: center;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin-left: 8px;
	margin-right: 15px;
	color: #444849;
	background-color: white;
	padding: 20px;
	border-radius: 3px;
}
			
#class li {
	display: inline;
	margin-left: 18px;			
}
			
#button a:hover {			
	background-color: #444849;
	color: #c2c5c6;
	
}