body {
	background-color: #b4dfe5;
	width: 100%;
    height: 100%;
	margin: 0px;
}

header {
    padding: .1;
    color: white;
    background-color:#05386b;
    clear: left;
    text-align: left;
	font-size: 15px;
}
#name{
	margin-left: 30px;
}
header h1{
	margin-top: -22px;
	margin-bottom: unset;
}
header h3{
	margin-left: 41px;
	margin-top: auto;
}
footer{
    background-color:#05386b;
    clear: left;
    text-align: left;
	width: 100%;
}
#container{
	margin-left: 170px;
    border-left: 1px solid gray;
	margin-right: 170px;
    border-right: 1px solid gray;
	background-color: #Fbeec1;
    overflow: hidden;
	text-align: center;
	height: auto;
	font-style: italic;
}
#container h1{
	font-size: 60px;
}
#container h2{
	font-size: 40px;
}
#container h3{
	font-size: 30px;
	margin-top: -40px;
}

#icons{
	background-color: #05386b;
	margin-right: 10px;
	margin-left: 5px;
}

#class {					
	margin-top: 60px;
	height: 321px;
}
#button{
	width: 900px;
	height: 100%;
	padding-left: 1px;
	margin: auto;
	text-align: center;
}			
			
#button a {			
	float: center;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin-left: 8px;
	margin-right: 15px;
	color: #444849;
	background-color: white;
	padding: 20px;
	border-radius: 3px;
}
			
#class li {
	display: inline;
	margin-left: 18px;			
}
			
#button a:hover {			
	background-color: #444849;
	color: #c2c5c6;
	
}

.info{
	text-align: left;
	height: 502px;
}
.info p{
	font-size: 20px;
}
.info h4{
	text-align: center;
}
.info p span{
	font-size: 15px;
}

.aspi{
	text-align: left;
	height: auto;
	margin-left: 10px;
	margin-right: 5px;
}
.aspi p{
	font-size: 20px;
}
.aspi h4{
	text-align: center;
}
aside{
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}
nav{
    float: right;
    max-width: 160px;
    margin: 0;
    padding: 1em;
	color: solid grey;
	font-weight: bold;
	background: #c2c5c6;
}
blockqoute{
	margin: 0;
}
nav p {
    margin: 0;
}
nav blockquote {
    font-weight: bold;
    padding: 6px;
    border-top: 2px solid #600;
    margin: 0;
}
#author{
	color:  #600;
	font-size: 15px;
	margin-top: 15px;
}
#link1{
	background-color: #444849;
	color: #c2c5c6;
}
#link1:hover{
	background-color: #c2c5c6;
	color: #444849;
}
aside ul {
    list-style-type: none;
    padding: 1;
}
aside ul li{
	padding-top: 45px;
}
aside ul a {
    text-decoration: none;
	font-size: 13px;
	background-color: white;
	color: #444849;
	font-family: sans-serif;
	font-weight: bold;
	padding: 10px;
	border-radius: 3px;
}
aside ul a:hover {
    background-color: #444849;
	color: #c2c5c6;
}